<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <script src="../js/htmx.js"></script>
    <title>VirtUI</title>
</head>
<body>
    <form action="/container" method="post">
        <nav class="nav-bar">
            <button type="submit" name="action" value="new">Nouveau</button>
        </nav>
    </form>
    <main>
        <div class="cards">
            {{ range . }}
            <div class="card">
                <div class="card-header">
                    <h3>{{ .Metadata.Name }}</h3>
                </div>
                <div class="card-status">
                    <p>{{ .Metadata.Status }}</p>
                </div>
                <div class="card-actions">
                    {{ if eq .Metadata.Status "Running" }}
                        <button class="stop">Stopper</button>
                    {{ else }}
                        <button class="start">Lancer</button>
                    {{ end }}
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            {{ end }}  
        </div>
    </main>
</body>
</html>