<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/stylesheets/style.css">

    <title>VirtUI</title>
</head>
<body>
    <nav class="nav-bar">
        <button>Nouveau</button>
    </nav>
    <main>
        <div class="cards">
            <div class="card">
                <div class="card-header">
                    <h3>Portainer</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Nginx</h3>
                </div>
                <div class="card-status">
                    <p>Stoppé</p>
                </div>
                <div class="card-actions">
                    <button class="start">Lancer</button>
                    <button class="stop">Stopper</button>
                    <button class="restart">Relancer</button>
                    <button class="delete">Supprimer</button>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>